@mixin btn-font-style($weight: 400) {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: SVN-Gotham;
  font-weight: $weight;
}

@mixin base-btn {
  border: 0;
  cursor: pointer;
}

$btn-tab: tab-green, tab-dark-green;
@each $btn-style in $btn-tab {
  .#{$btn-style}-style {
    color: var(--primary-white);
    @include btn-font-style();
    border-radius: 3rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    @if $btn-style == tab-dark-green {
      background: var(--dark-green);
      box-shadow: 0.4rem 0rem 0.8rem rgba(65, 173, 73, 0.2);
      font-weight: 500;
    } @else {
      background: var(--secondary-green);
      box-shadow: -4px 0px 8px rgba(102, 88, 243, 0.24), 4px 0px 8px rgba(102, 88, 243, 0.24);
      font-weight: 500;
    }
  }
}

$btn: btn-confirm, btn-remove, btn-cancel;
@each $btn-style in $btn {
  .#{$btn-style}-style {
    @include btn-font-style(bold);
    outline: none;
    background: var(--primary-green);
    padding: 1.2rem 3.6rem;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
    font-family: SVN-Gotham;
    @if $btn-style == btn-confirm {
      color: var(--primary-white);
      background: var(--primary-green);
      border: 0;
      @extend .btn--shiny;
    } @else if $btn-style == btn-remove {
      color: #f84948;
      border: 1px solid #e53935;
      box-sizing: border-box;
      border: 1px solid #e53935;
      background: var(--primary-white);
    } @else {
      background: var(--primary-white);
      color: var(--primary-gray-3);
      border: 0;
    }
  }
}

.btn-white {
  padding: 1rem 1.3rem;
  background: var(--primary-white);
  color: var(--primary-gray-3);
  font-size: 1.8rem;
  line-height: 2.8rem;
  border: 0;
  border-radius: 0.4rem;
  font-family: SVN-Gotham;
  filter: drop-shadow(0px 4px 12px rgba(111, 125, 145, 0.16));
  cursor: pointer;
  outline: none;
}

.btn-gray {
  padding: 1.2rem 1.8rem;
  background: var(--primary-gray-1);
  color: var(--primary-gray-3);
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: 0;
  border-radius: 0.4rem;
  font-family: SVN-Gotham;
  cursor: pointer;
  font-weight: bold;
}

.btn-icon {
  @include base-btn();
  background: var(--primary-white);
  border-radius: 0.4rem;
  color: var(--primary-white);
  padding: 10px;
  outline: none;
}

.btn-icon[aria-selected="true"] {
  background: var(--primary-green);
}

$btn-styles: btn-white, btn-green;
@each $btn-style in $btn-styles {
  .#{$btn-style}-style {
    font-weight: bold !important;
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
    font-family: SVN-Gotham;
    padding-right: 2rem;
    .MuiOutlinedInput-input {
      padding: 1.2rem 3.6rem;
    }
    .MuiSvgIcon-root {
      font-size: 2.6rem;
    }
    @if $btn-style == btn-white {
      background: var(--primary-white);
      color: #444c53 !important;
      .MuiSvgIcon-root {
        color: #444c53;
      }
    } @else {
      background: var(--primary-green);
      color: var(--primary-white) !important;
      .MuiSvgIcon-root {
        color: var(--primary-white);
      }
    }
  }
}

.select-menu-list {
  font-family: "SVN-Gotham";
  .MuiPaper-root {
    border-radius: 0.6rem !important;
    font-family: "SVN-Gotham";
  }
  .MuiList-root {
    padding: 0 !important;
  }
  .MuiMenuItem-root {
    background: var(--primary-white) !important;
    padding: 1rem 2rem;
    font-size: 1.6rem !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "SVN-Gotham";
    width: 100%;
    &:hover {
      background: var(--primary-gray) !important;
      border-radius: 0.6rem !important;
    }
  }
}

.floating-btn-item {
  position: absolute;
  bottom: 3.2rem;
  right: 5.2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background: var(--primary-green);
  border-radius: 50%;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-excel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  margin-left: 2rem;
  @extend .btn-cancel-style;
  width: fit-content !important;
  padding: 1rem 1.4rem;
  img {
    margin-right: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;
  }
  &:hover {
    @extend .btn--shadow;
  }
}

// button custom hover

.btn {
  width: inherit;
  height: 4.8rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.4rem;
  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: button;
  position: relative;
  cursor: pointer;
  transition: all 250ms ease 0ms;
  color: #fff;
  font-size: 1.6rem;
  &:active {
    -webkit-box-shadow: 0 0 11px 1px gray;
    -moz-box-shadow: 0 0 11px 1px gray;
    box-shadow: 0 0 11px 1px gray;
  }
  &--hover:hover {
    border: 1px solid #2d3742;
  }
  &--transparent {
    border: 1px solid transparent;
    background-image: none;
    background-color: transparent;
    outline: none;
  }
  &--shiny {
    position: relative;
    &:hover {
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(33%, transparent),
        color-stop(50%, rgba(255, 255, 255, 0.3)),
        color-stop(66%, transparent)
      );
      background-image: -o-linear-gradient(
        left,
        transparent 33%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 66%
      );
      background-image: linear-gradient(
        to right,
        transparent 33%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 66%
      );
      background-size: 300% 100%;
      -webkit-animation: shine 1s 1;
      animation: shine 1s 1;
    }
  }

  &--shadow {
    -webkit-box-shadow: 0 0.4rem 1.6rem rgba(66, 78, 87, 0.16);
    -moz-box-shadow: 0 0.4rem 1.6rem rgba(66, 78, 87, 0.16);
    box-shadow: 0 0.4rem 1.6rem rgba(66, 78, 87, 0.16);
  }
  &--opacity {
    opacity: 0.5;
  }
  &--disabled {
    background-color: #ebecf0 !important;
    cursor: not-allowed !important;
  }

  &--active {
    background-color: #ebecf0 !important;
  }
  &__circle {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
  }
  &__square {
    width: 4.8rem;
  }

  &__oval {
    border-radius: 3.2rem;
  }
  &__text-cancel {
    &:hover {
      color: #b8292f;
    }
  }
  &-notification {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    background: transparent;
    &.topLeft {
      left: -0.4rem;
    }
    &.topRight {
      right: -0.4rem;
    }
    &.blue {
      background: #08c4e3;
    }
  }

  @-webkit-keyframes shine {
    0% {
      background-position: right;
    }
  }

  @keyframes shine {
    0% {
      background-position: right;
    }
  }
}
