$primary-white: #fff;
$primary-gray: #f0f3f8;
$primary-green: #0a6836;
$primary-darkgreen: #004125;
$secondary-green: #41ad49;
$secondary-darkgreen: #2a7a30;
$primary-gray-1: #efefef;
$primary-gray-2: #525560;
$primary-gray-3: #312f30;
$primary-gray-4: #272b2f;
$primary-gray-5: #2d3742;
$color-dark: #161315;
$navbar-max-width: 100%;
